#area_game {
    height:90vh;
    width:100%;
    background-color: #6e9e60;
    display: grid;
    grid-template-rows: 64fr 24fr;
    grid-template-columns: 15fr 70fr 15fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}


#area_player_4 {
    background-color: #e6f3e2;
    border: 1px solid black;
    padding: 1px;
}

#area_game_02 {
    display: grid;
    grid-template-rows: 2fr 4fr 4fr;
    grid-row-gap: 2px;
}

#area_player_3 {
    background-color: #eefbea;
    border: 1px solid black;
    padding: 1px;
}

#area_team_robot_games {
    background-color: #e6f3e2;
    border: 1px solid #82f45f;
    padding: 1px;
}

#area_team_human_games {
    background-color:#eefbea;
    border: 1px solid #82f45f;
    padding: 1px;
}

#area_player_2 {
    background-color: #e6f3e2;
    border: 1px solid black;
    padding: 1px;
}

#area_game_04 {
    background-color: #cdf8c0;
    border: 1px solid black;
    padding: 1px;
}

#area_player_1 {
    background-color: #eefbea;
    border: 1px solid black;
    padding: 1px;
}

#area_game_05 {
    background-color: #cdf8c0;
    border: 1px solid black;
    padding: 1px;
}
