#area_game {
    height:90vh;
    width:100%;
    background-color: #6e9e60;
    display: grid;
    grid-template-rows: 73fr 27fr;
    grid-template-columns: 15fr 70fr 15fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}


#area_player_4 {
    background-color: #e6f3e2;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 11fr;
}

#area_game_02 {
    display: grid;
    grid-template-rows: 2fr 4fr 4fr;
    grid-row-gap: 1px;
}

#area_player_3 {
    background-color: #eefbea;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 11fr 1fr;
}

.area_msgs_show {
    border: 5px outset rgb(144, 9, 161);
    width: 30vw;
    padding: 20px;
    position: fixed;
    top: 40vh;
    left: 35vw;
    text-align: center;
    vertical-align: middle;
    font-size: 150%;
    font-variant: small-caps;
    font-style: italic;
}

#area_team_robot_games {
    background-color: #e6f3e2;
    border: 1px solid #82f45f;
}

#area_team_human_games {
    background-color:#eefbea;
    border: 1px solid #82f45f;
}

#area_player_2 {
    background-color: #e6f3e2;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 11fr 1fr;
}

#area_game_04 {
    background-color: #cdf8c0;
    border: 1px solid black;
    max-height: 24.5vh;
}

#area_player_1 {
    background-color: #eefbea;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 11fr; 
    max-height: 24.5vh;   
}

#area_game_05 {
    background-color: #cdf8c0;
    border: 1px solid black;
    max-height: 24.5vh;
}


/* PLAYERS AND CARDS */

.robot_lateral {
    max-width: 90%;
    max-height: 5.45vh;
    object-fit: contain;
}

.img_card_lateral {
    max-width: 90%;
    max-height: 5.45vh;
    display: inline-block;
    object-fit: contain;
}

.cards_align_center {
    /*border: 1px solid rgb(235, 231, 11);*/
    height: 100%;
    width: 100%;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
}

.robot_team_human {
    max-height: 9vh;
    max-width: 90%;
    object-fit: contain;
}

.img_card_team_human {
    max-height: 9vh;
    max-width: 90%;
    object-fit: contain;
}

.area_monte_geral {
    height: 24.5vh;
  /*  padding: 5px;*/
}

.area_monte {
 /*  
    max-height: 40%;
    max-width: 40%;
     max-width: 7.5vw; 
    */
    height: 12vh;
    width: 100%;
    margin: 2px;
    display: flex;
    border: 1px solid rgb(4, 26, 153);
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

.area_lixo {
    border: 1px solid rgb(153, 4, 16);
    background-color: rgb(218, 221, 213);
}

* .img_monte {
    height: auto;
    max-height: 8vh;
    margin: 0px;
    display: block;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .img_monte {
      flex-direction: column;
      padding: 0;
    }
}

* .img_lixo {
    height: auto;
    max-height: 8vh;
    margin: 0px;
    display: block;
    
}